<div class="card add-role-card">
  <h3>Add Role</h3>

  <div class="add-role-wrapper">
    <!-- Role Name -->
    <input
      type="text"
      class="form-control"
      placeholder="Role Name"
      [(ngModel)]="role.roleName"
    />

    <!-- Description -->
    <input
      type="text"
      class="form-control"
      placeholder="Description"
      [(ngModel)]="role.description"
    />

    <!-- Status -->
    <select class="form-select" [(ngModel)]="role.status">
      <option [ngValue]="true">Active</option>
      <option [ngValue]="false">Inactive</option>
    </select>

    <!-- Actions -->
    <div class="actions">
      <button
        class="primary btn"
        (click)="saveRole()"
        [disabled]="!role.roleName || !role.description"
      >
        💾 Save
      </button>
      <button class="secondary btn" routerLink="/roles">
        ❌ Cancel
      </button>
    </div>
  </div>
</div>
