<div class="auth-wrapper">
  <div class="auth-card">

    <!-- ===== AUTH ICON ===== -->
    <div class="auth-icon">
      <span>👤</span>
    </div>

    <!-- Heading -->
    <h2>Forgot Password</h2>
    <p>Enter your registered email to reset your password</p>

    <!-- Email Input -->
     <label>Email Address</label>
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="Enter your email"
      required
    />

    <!-- Send Button -->
    <button type="button" (click)="forgotPassword()">
      Send Reset Link
    </button>

    <!-- Back to Login -->
    <p class="back-login">
      <a routerLink="/login">Back to Login</a>
    </p>

  </div>
</div>
