<div class="auth-card">
  <h3>Register</h3>
<input type="email"
       placeholder="Email"
       [(ngModel)]="model.email"
       required>

<input type="password"
       placeholder="Password"
       [(ngModel)]="model.password"
       required minlength="8">

<input type="password"
       placeholder="Confirm Password"
       [(ngModel)]="confirmPassword"
       required>

<select [(ngModel)]="model.role" required>
  <option value="">Select Role</option>
  <option value="Admin">Admin</option>
  <option value="User">User</option>
</select>

<button (click)="register()">Register</button>

<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>


  <p>
    Already have account?
    <a routerLink="/login">Login</a>
  </p>
</div>
